body {


}
/* Main button */

.main-btn {
    font-family: "Audiowide", sans-serif;
    padding: 1rem;
    background-color: #616161;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    transition-duration: .4s;
}

.main-btn:hover {
    background-color: #8EF8D8;
}

/* Info box */

.info-box {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 4px;
    width: 12rem;
    height: auto;

}

.info-box-text {
    color: white;
    margin: 1rem;
    font-family: 'Share Tech Mono', monospace;
}

/* Nav bar */

.header {
    font-family: "Audiowide", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;

     /* max-width: 40rem;    remove when in use */
}

.nav-content {
    /* margin-right: 1rem; */
}

.img-logo {
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
}

.nav-links {
    text-decoration: none;
    color: #8EF8D8;
    margin-right: 1rem;
}

.nav-links:hover {
    color: azure;
    transition: .3s;
}

/* Room-view */

.big-card {
    background-color: #e4dede;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 53.5rem;
    max-height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.big-card-left {
    grid-area: 1 / 1 / 2 / 3;
}

.big-card-img {
    width: 100%;
    height: auto;
}

.big-card-img:hover {
    opacity: 90%;
    transition: .5s;
}

.big-card-right {
    
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.big-card-right-title {
    font-family: "Audiowide", sans-serif;
}

.big-card-right-text {
    font-family: 'Share Tech Mono', monospace;
}

.big-card-date-text {
    font-family: "Audiowide", sans-serif;
}

.big-card-date {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    padding: .5rem;
    border-radius: 4px;
    background-color: black;
    color: azure;
}

.front-img-container {

}

.front-img {
    max-width: 67%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.front-header {
    font-family: "Audiowide", sans-serif;
}