<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../components/components.css">
    <title>Bonz.ai</title>
</head>
<body>


    <hr>
    <section>
        <button class="main-btn">Button</button>
    </section>
    <hr>
    <section class="info-box">
        <article class="info-box-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid inventore 
            id dolores vero, in omnis expedita quis explicabo ipsa beatae ab 
            cupiditate eligendi ad? Inventore nisi soluta nihil corrupti quo!</article>
    </section>
    <hr>
    <section class="header">
        <section class="nav-logo">
            <img class="img-logo" src="../components/img/bonz.ai-logo-color-portrait.png" alt="logo">
        </section>
        <div class="nav-content">
            <a class="nav-links" href="">Rooms</a>
            <a class="nav-links" href="">Our vision</a>
            <a class="nav-links" href="">About us</a>
        </div>
    </section>
<hr>
    <section class="big-card">
        <article class="big-card-left">
            <img src="../components/img/08-night.jpg" alt="img-08-night" class="img-08-night">
        </article>
        <article class="big-card-right">
            <h2 class="big-card-right-title">Title</h2>
            <p class="big-card-right-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quisquam nisi dolor 
                vitae ab, praesentium, accusantium inventore </p>
            <h4 class="big-card-date-text">Check for available dates</h3>
            <input type="date" class="big-card-date">
        </article>
    </section>
<hr>
<div class="front-img-container">
    <img src="../components/img/03-day.jpg" alt="front-img" class="front-img">
</div>

<h2 class="front-header">Hotellet som andas harmoni och lugn</h2>

</body>
</html>